.hidden {
    visibility: hidden;
    opacity: 0;
}

.intro {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    font-family: $font-sub;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    overflow: hidden;

    &__title {
        color: #fff;
        text-align: center;
        z-index: 2;
        transform: translateY(40px);
        font-size: 3.75rem;
        line-height: 0.85;
    }

    &__background {
        position: absolute;
        top: 0;
        background: linear-gradient(90deg, #0a0a0a, #1c0f1f, #2b1034);
        @include bg-img;
        width: 50%;
        height: 100%;
        transform: scaleX(0);

        &--left {
            left: 0;
            transform-origin: left center;
        }

        &--right {
            left: 50%;
            transform-origin: right center;
        }
    }
}

.main {
    overflow: hidden;
}

.section {
    height: 100vh;

    .main-title {
        font-size: 3.75rem;
        font-family: $font-sub;
        text-transform: uppercase;
        line-height: 0.85;
    }

    .main-dec {
        font-size: 1.25rem;
        line-height: 1.4;
        margin-bottom: 1.25rem;
        opacity: 0.5;
    }

    .border-bx {
        position: relative;
        padding-bottom: 2.5rem;
        margin-bottom: 2.5rem;

        .border-line {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 1px;
            background: #DFAE76
        }
    }

    &__1 {
        height: 100vh;
        position: relative;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            transform: rotate(-160deg);

            .lottie-container {
                width: 100%;
                height: 100%;
            }
        }

        .container {
            display: flex;
            align-items: end;
            width: 100%;
            height: 100%;
            padding: 0 20px 10rem;
            position: relative;

            .lottie {
                &-container {
                    @include d-flex;
                    width: 100px;
                    height: 100px;
                }
            }
        }

        .text-bx {
            width: 100%;
        }

        .scroll-bx {
            position: absolute;
            right: 0;
            bottom: 10rem;
        }
    }

    &__2 {
        padding: 12.5rem 0;
    }

    &__3 {
        padding: 0 0 12.5rem 0;

        .sub-title-btn {
            width: 10rem;
            height: 2.5rem;
            border-radius: 8px;
            border: 1px solid rgba(#fff,0.2);
            background: linear-gradient(90deg, #0a0a0a, #1c0f1f, #2b1034);
            @include d-flex;
            margin-bottom: 2.5rem;

            p {
                font-weight: 600;
                color: #eee;
            }
        }

        .flex-bx {
            display: flex;
            align-items: center;

            >div {
                flex: 1;
            }
        }

        .info-bx {
            ul {
                display: flex;
                align-items: center;
                gap: 0.625rem;
                color: #999;
                margin: 0.625rem 0;

                li {
                    text-transform: uppercase;
                }
            }

            .txt1,
            .txt2 {
                color: #eee;
            }
        }

        .link-bx {
            a {
                display: block;
                position: relative;
                overflow: hidden;

                &:hover {
                    &::after {
                        opacity: 0;
                    }
                    .hidden-txt{
                        opacity: 1;
                    }

                    .img-bx{
                        img{
                            transform: scale(1.05);
                        }
                    }
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: rgba(#000, 0.5);
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 1;
                    transition: all .5s ease-in-out;
                }
            }

            .img-bx {
                @include d-flex;
                img{
                    transform: scale(1);
                    transition: all .5s;
                }
            }

            .hidden-txt {
                position: absolute;
                top: 1rem;
                right: 1rem;
                z-index: 1;
                width: 7.5rem;
                height: 2.5rem;
                border-radius: 8px;
                border: 1px solid #9f6dce;
                background: #000;
                @include d-flex;
                opacity: 0;
                transition: all .5s ease-in-out;

                p {
                    font-weight: 600;
                    color: #eee;
                }
            }
        }
    }
}

@media all and (max-width: 768px) {}